@import "./reset.css";
@import "./menu.css";

.article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 50px;
}

.articleWrap{
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin: 100px 0;
}

.articleItem{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 300px;
    border-radius: 15px;
    margin-top: 120px;
    margin-bottom: 50px;
    background-color: var(--bg-200);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    cursor: pointer;
    transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
}

.articleContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.articleImage{
    filter: drop-shadow(5px 5px 5px #555);
    width: 250px;
    margin-top: -120px;
    border-radius:10px ;
    transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
}

.articleItem:hover{
    box-shadow: 0 2px 5px 2px var(--primary-50);
}

.articleItem:hover .articleImage{
    /* scale: 1.1; */
}

.articleTitle{
    text-align: center;
    margin-top: 30px;
    font-size: 1rem;
    font-weight: bold;
}

.articleDesc{
    font-size: 1.1rem;
    margin-top: 5px;
    text-align: center;
    font-weight: 500;
}